/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.cl-1{
  width:64.666%;
  float:left;
  margin:1%;
  height: 100%;
}

.cl2{
  width:31.333%;
  float: left;
  margin: 1% 1% 0;
  
}

.font{
  
  height: 100%
}

.clearfix{
  clear: both;
}

